<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Человек</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<a th:text="${person.getName()}">VALUE</a>
<a th:text="${person.getId()}">VALUE</a>
<a th:text="${person.getAge()}">VALUE</a>
<a th:text="${person.getEmail()}">VALUE</a>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>